.App {
  text-align: center;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0380fc;
  clip-path: circle(600px at right 900px);
}

.circle-top {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  background: #0380fc;
  clip-path: circle(200px at left 10px);
}
